@media (max-width: 1200px)
    .container
        max-width: 960px
    .hotel
        &-slider
            width: 600px
            &__img
                height: 100%
                object-fit: cover
    .activity
        &__item
            width: 225px
            height: 225px
    .footer
        &__input
            flex-basis: 100%
@media (max-width: 992px)
    .container
        max-width: 700px
    .navbar-top
        &__search
            margin-left: 0
    .search
        &__input
            width: 320px
    .navbar-menu
        &__link
            font-size: 12px
    .logo
        &__img
            width: 132px
    .hotel
        &-slider
            width: 700px
            &__img
                height: 100%
                object-fit: cover
    .hotel
        &-block
            flex-direction: column
            padding-bottom: 60px
            &-right
                margin-left: 0
                flex-direction: row
        &__slider
            margin-bottom: 30px
    .booking
        width: 340px
    .map
        width: 340px
    .newsletter
        &-wrapper
            width: 700px
    .reviews
        &__tittle
            font-size: 30px
        &-slider
            &__item
                width: 580px
                height: 300px
                &::before, &::after
                    background-image: none
            &__text
                width: 455px
    .activity
        padding: 60px 0 80px 0
        &-block
            flex-wrap: wrap
        &__item
            width: 339px
            height: 255px
            margin-bottom: 20px
        &__img
            position: absolute
            top: 0
            left: -30px
            bottom: 0
    .footer
        &__logo
            grid-row: 1 / 2
            grid-column: span 2
        &__social
            &-network
                grid-row: 1 / 2
                grid-column: span 4
                align-self: center
        &__categories
            grid-row: 2 / 3
            grid-column: span 2
        &__contact
            &-details
                grid-column: span 5
                grid-row: 3
        &__information
            grid-column: span 2
        &__legal
            grid-column: span 2
        &__form
            grid-row: 4
            grid-column: span 5
        &-wrapper
            grid-template-columns: repeat(6, 1fr)
            grid-row-gap: 45px
        &__input
            flex-basis: 47%
@media (max-width: 768px)
    .container
        max-width: 560px
        width: 92%
    body
        padding-top: 98px
    .user
        &__avatar
            margin: 0 0 10px 0
        &__name
            &--light
                color: $light
                font-weight: normal
                font-size: 14px
                line-height: 18px
    .navbar
        &-top
            &__search,&__user
                &--mobile
                    &_hidden
                        display: none
                    &_active
                        display: flex
                        flex-direction: column
                        justify-content: center
                        color: $light
        &-menu
            &__link
                font-weight: bold
                line-height: 15px
            &__item
                &--mobile
                    &_active
                        display: flex
                        flex-direction: column
        &-bot
            display: none
            position: fixed
            left: 0
            right: 0
            bottom: 0
            top: 98px
            &--active
                display: block
        &--mobile
            &_fixed
                position: fixed
                left: 0
                top: 0
                right: 0
                z-index: 99
        &-menu
            flex-direction: column
            &__item
                margin-bottom: 20px
    .burger
        padding: 0
        margin: 0
        display: flex
        height: 11px
        width: 16px
        flex-direction: column
        justify-content: space-between
        border: none
        background-color: $light
        cursor: pointer
        &__line
            width: 16px
            height: 1px
            background-color: $text-color
    .hotel
        &-info
            &-wrapper
                justify-content: space-between
                width: 100%
            &__left
                display: none
            &__offer
                order: -1
                margin-left: 0
            &__right
                display: flex
                flex-wrap: wrap
            &__name
                flex-basis: 100%
                margin-top: 14px
        &-block
            &-right
                flex-direction: column
                &__booking
                    margin-bottom: 20px
                    width: 100%
        &__slider
            margin-bottom: 20px
        &-slider
            height: 200px
            width: 100%
            &__img
                width: 100%
                object-fit: contain
                margin-top: -30%
    .stars
        flex-basis: auto
        object-fit: cover
    .map
        width: 100%
    .newsletter
        &-wrapper
            flex-direction: column
            max-width: 560px
            width: 92%
            align-items: flex-start
            height: 160px
    .reviews
        &__tittle
            font-size: 22px
        &-slider
            &__item
                width: 460px
                height: 320px
            &__text
                width: 380px
            &__button
                &--next
                    right: 0
                &--prev
                    left: 0
    .activity
        &__item
            width: 100%
            height: 255px
        &-block
            justify-content: center
        &__img
            width: 100%
            left: 0
            object-fit: cover
@media (max-width: 576px)
    .reviews
        &-slider
            &__button
                &--mobile
                    &_prev
                        top: 45px
                        left: 23%
                    &_next
                        top: 45px
                        right: 25%
            &__item
                width: 95%
                height: 340px
            &__text
                width: 80%
    .footer
        &-wrapper
            grid-template-columns: 1fr
            grid-row-gap: 45px
        &__logo
            grid-row: 1 
        &__social
            &-network
                grid-row: 2 
                flex-direction: column
        &__categories
            grid-row: 5
        &__contact
            &-details
                grid-row: 6
        &__information
            grid-row: 4
        &__legal
            grid-row: 3
        &__form
            grid-row: 7
        &__input
            flex-basis: 100%
        &__tittle
            &--mobile
                margin-bottom: 20px
