@media (max-width: 1200px)
    .container
        max-width: 960px
    .slider
        width: 600px
    .swiper
        &-slider
            &__img
                height: 100%
@media (max-width: 992px)
    .container
        max-width: 700px
    .navbar-top
        &__search
            margin-left: 0
    .search
        &__input
            width: 320px
    .navbar-menu
        &__item
            font-size: 12px
    .logo
        &__img
            width: 132px
    .slider
        width: 700px
    .swiper
        &-slider
            &__img
                height: 100%
    .hotel
        &-block
            flex-direction: column
            padding-bottom: 60px
            &-right
                margin-left: 0
                flex-direction: row
            &__slider
                margin-bottom: 30px
    .booking
        width: 340px
    .map
        width: 340px
@media (max-width: 768px)
    .container
        max-width: 560px
        width: 92%
    .navbar-top
        &__search,&__user
            display: none
    .navbar-bot
        display: none
    .burger
        padding: 0
        margin: 0
        display: flex
        height: 11px
        width: 16px
        flex-direction: column
        justify-content: space-between
        border: none
        background-color: $light
        cursor: pointer
        &__line
            width: 16px
            height: 1px
            background-color: $text-color
    .hotel
        &-info
            &-wrapper
                justify-content: space-between
                width: 100%
            &__left
                display: none
            &__offer
                order: -1
                margin-left: 0
            &__right
                display: flex
                flex-wrap: wrap
            &__name
                flex-basis: 100%
                margin-top: 14px
        &-block
            &-right
                flex-direction: column
                &__booking
                    margin-bottom: 20px
    .stars
        flex-basis: auto
    .slider
        width: 279px
    .swiper
        &-container
            height: 179px
    .booking
        width: 279px
    .map
        width: 279px
