.activity
   display: block
   padding: 60px 0 100px 0 
   &__tittle
      font-size: 24px
      font-weight: bold
      text-transform: uppercase
      margin-bottom: 60px
   &__item
      width: 255px
      height: 255px
      border-radius: 6px
      position: relative
      overflow: hidden
      padding: 26px
      display: flex
      flex-direction: column
      justify-content: flex-end
      &::before
         content: ''
         background: linear-gradient(179.83deg, rgba(196, 196, 196, 0) 35.34%, #0A223D 99.85%)
         position: absolute
         top: 0
         left: 0
         right: 0
         bottom: 0
   &__img
      max-width: none
      max-height: 100%
      position: absolute
      top: 0
      left: -75px
      bottom: 0
   &-block
      display: flex
      justify-content: space-between
   &__button
      border: none
      font-size: 12px
      padding: 7px 21px
      background-color: $primary
      color: $light
      width: 100px
      height: 30px
      border-radius: 4px
      display: flex
      align-items: center
      position: relative
   &__name
      font-size: 16px
      font-weight: bold
      color: $light
      position: relative
      margin-bottom: 18px
