.hotel
    &-info
        display: flex
        align-items: center
        padding: 23px 0 20px 0
        justify-content: space-between
        &__name
            font-size: 24px
            font-weight: bold
        &__description
            font-size: 12px
            margin: 0
            margin-top: 4px
            color: $text-color
        &__offer
            margin-left: 14px
        &-wrapper
            display: flex
            flex-wrap: wrap
            align-items: center
        &__stars
            margin-bottom: 4px
    &-block
        display: flex
        padding-bottom: 70px
        &-right
            margin-right: 0
            margin-left: auto
            display: flex
            flex-direction: column
            justify-content: space-between
.offer
    font-size: 10px
    padding: 4px 9px
    background-color: $primary
    color: $light
    width: 70px
    height: 20px
    border-radius: 3px
    display: flex
    align-items: center
.stars
    flex-basis: 100%
.rating
    width: 65px
    height: 45px
    background-color: $primary
    display: flex
    justify-content: center
    flex-direction: column
    align-items: center
    border-radius: 4px
    &__text
        font-size: 8px
        font-weight: 600
        color: $light
    &__num
        font-size: 14px
        font-weight: bold
        color: $light
    &__down
        font-size: 10px
// Slider 
.swiper-container
    width: 100%
    height: 450px
    margin-left: 0
    border-radius: 8px
    &:after
        content: ''
        width: 100%
        height: 100%
        position: absolute
        right: 0
        left: 0
        top: 0
        bottom: 0
        background: linear-gradient(180deg,rgba(0, 122, 223, 0.48) 0%,rgba(255, 255, 255, 0.128) 100%)
        z-index: 10
.slider
    width: 728px
    &-button
        width: 30px
        height: 30px
        background-color: transparent
        z-index: 99
        position: absolute
        top: 50%
        margin-top: -15px
        border: none
        &--next
            right: 18px
            background-image: url(../img/slider-right.svg)
            background-repeat: no-repeat
            background-position: center
        &--prev
            left: 18px
            background-image: url(../img/slider-left.svg)
            background-repeat: no-repeat
            background-position: center
// Booking 
.booking
    display: flex
    flex-wrap: wrap
    background-color: $dark
    color: $light
    font-family: Nunito
    font-size: 10px
    font-weight: normal
    padding: 29px 29px 26px 26px
    border-radius: 8px
    width: 350px
    height: 210px
    &__button
        flex-basis: 100%
        height: 45px
        background-color: $primary
        border: none
        border-radius: 4px
        color: $light
        font-family: Nunito
        font-size: 14px
        font-weight: 600
    &__info
        display: flex
        width: 100%
        justify-content: space-between
        margin-bottom: 14px
.price
    display: flex
    flex-direction: column
    width: 50%
    &__start
        margin-bottom: 6px
    &__sum
        font-size: 24px
        margin-bottom: 4px
    &__per-room
        font-size: 12px
.condition
    margin-top: 2px
    &-wrapper
        width: 80px
        display: flex
        justify-content: space-between
        align-items: center
        margin-bottom: 12px
        font-size: 12px
.call
    display: flex
    justify-content: space-between
    width: 100%
    align-items: center
    font-family: Nunito
    font-size: 18px
    font-weight: 600
    margin-bottom: 18px
    &__phone
        display: flex
        justify-content: space-between
        align-items: center
        width: 75px
.map
    width: 347px
    height: 213px
    border-radius: 10px
